USE [HIS_WEB]
GO
/****** Object:  StoredProcedure [dbo].[PacientesMalLlenados]    Script Date: 25/09/2025 11:55:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PacientesMalLlenados] @FECHA_INICIO AS DATETIME = NULL, @FECHA_FINAL AS DATETIME = NULL, @HOSPITAL AS NVARCHAR(255) = NULL
AS
WITH CTE_CORTE_SEMANAL AS
(
SELECT
	ROW_NUMBER() OVER (PARTITION BY I_E.FOLIO ORDER BY (SELECT 1)) AS PARTICION_UID,
	P.IDPACIENTE AS ID,
	--P.FOLIO AS NSS,
	--ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS Consecutivo,
	CONVERT(DATE,I_E.FECHAESTUDIO) AS FECHA_DEL_ESTUDIO,
	@HOSPITAL AS UNIDAD_TRATANTE,
	P.APELLIDOPATERNO AS APELLIDO_PATERNO,
	P.APELLIDOMATERNO AS APELLIDO_MATERNO,
	P.PRIMERNOMBRE AS PRIMER_NOMBRE,
	P.SEGUNDONOMBRE AS SEGUNDO_NOMBRE,
	NSS = LEFT(P.Folio + REPLICATE('0', 10), 10),
	CASE	
		WHEN I_E.Modalidades='CR'
			THEN '80.15.001'		
		WHEN I_E.Modalidades='DX'
			THEN '80.15.001'
		WHEN I_E.Modalidades='MG'
			THEN '80.15.002'
		WHEN I_E.Modalidades='BDUS' OR I_E.Modalidades='BMD'
			THEN '80.15.003'
		WHEN I_E.Modalidades='RF'
			THEN '80.15.004'
		WHEN I_E.Modalidades= 'US'
			THEN	(
						CASE 
							WHEN I_E.Descripcion NOT LIKE '%DOPPLER%' /*OR E.Descripcion NOT LIKE '%DOPLER%'*/ THEN '80.15.005'
							WHEN I_E.Descripcion  LIKE '%DOPPLER%' OR I_E.Descripcion LIKE '%DOPLER%' THEN '80.15.006'
						ELSE '80.15.005'
			END		)
		WHEN I_E.Modalidades= 'CT'
			THEN	(
						CASE	
							WHEN I_E.Descripcion NOT LIKE '%CONTRAST%' THEN '80.15.007'
							WHEN I_E.Descripcion LIKE '%CONTRASTADO%' OR I_E.Descripcion LIKE '%CONTRASTADA%' /*OR E.Descripcion LIKE '%GADOLIN%'*/ THEN '80.15.008'
						ELSE '80.15.007'
			END		)
		WHEN I_E.Modalidades='MR'
			THEN	(
						CASE	
							WHEN I_E.Descripcion NOT LIKE '%CONTRASTADO%' OR I_E.Descripcion NOT LIKE '%GADOLIN%' THEN '80.15.009'
							WHEN I_E.Descripcion  LIKE '%CONTRAST%' OR I_E.Descripcion LIKE '%GADOLIN%' THEN '80.15.010'
						ELSE '80.15.009'
			END		)
		WHEN I_E.Modalidades='XA'
			THEN '80.15.011'
		WHEN I_E.Modalidades = 'ES'
			THEN '80.15.012'
		ELSE '80.15.014'
	END AS CLAVE_CPIM,
	AGREGADO_MEDICO = LEFT(SUBSTRING(P.Folio,11,18) + REPLICATE('0',8),8),
	CASE	
		WHEN I_E.Modalidades='CR'
			THEN 'Radiología Simple'					
		WHEN I_E.Modalidades='DX'
			THEN 'Radiología Simple'
		WHEN I_E.Modalidades='MG'
			THEN 'Mastografía'
		WHEN I_E.Modalidades='BDUS' OR I_E.Modalidades='BMD'
			THEN 'Densitometría'
		WHEN I_E.Modalidades='RF'
			THEN 'Radiología Contrastada'
		WHEN I_E.Modalidades='US'
			THEN	(
						CASE
							WHEN I_E.Descripcion NOT LIKE '%DOPPLER%' /*OR E.Descripcion NOT LIKE '%DOPLER%'*/ THEN 'Ultrasonido'
							WHEN I_E.Descripcion LIKE '%DOPPLER%' OR I_E.Descripcion LIKE '%DOPLER%' THEN 'Ultrasonido Doppler'
						ELSE 'Ultrasonido'
			END		)
		WHEN I_E.Modalidades='CT'
			THEN	(
						CASE
							WHEN I_E.Descripcion NOT LIKE '%CONTRAST%' THEN 'Tomografía Computada Simple'
							WHEN I_E.Descripcion  LIKE '%CON CONTRASTE%' OR I_E.Descripcion LIKE '%CONTRASTADO%' OR I_E.Descripcion LIKE '%CONTRASTADA%' OR I_E.Descripcion LIKE '%GADOLIN%' THEN 'Tomografía Computada con medio de Contraste'
						ELSE 'Tomografía Computada Simple'								
			END		)
		WHEN I_E.Modalidades='MR'
			THEN	(
						CASE
							WHEN I_E.Descripcion NOT LIKE '%CONTRAST%' THEN 'Resonancia Magnética Simple'
							WHEN I_E.Descripcion  LIKE '%CON CONTRAST%' OR I_E.Descripcion LIKE '%CONTRASTADO%' OR I_E.Descripcion LIKE '%CONTRASTADA%' OR I_E.Descripcion LIKE '%GADOLIN%' THEN 'Resonancia Magnética Contrastada'
						ELSE 'Resonancia Magnética Simple'
			END		)
		WHEN I_E.Modalidades='XA'
			THEN 'RADIOLOGIA INTERVENCIONISTA VASCULAR'
		WHEN I_E.Modalidades='ES'
			THEN 'RADIOLOGIA INTERVENCIONISTA NO VASCULAR'
		ELSE 'OTRAS MODALIDADES DICOM'
	END AS TIPO_DE_ESTUDIO,
	I_E.Modalidades,
	CASE
		WHEN I_R_E.IdEstadoResultado IN (0,1,2)
			THEN ' '
		ELSE CONVERT(VARCHAR,I_R_E.FechaResultado,103)
	END AS INTERPRETACION
FROM 
	DBO.[Pacientes] AS P
INNER JOIN
	DBO.IMAGENOLOGIAESTUDIOS AS I_E ON P.IDPACIENTE=I_E.IDPACIENTE
INNER JOIN
	DBO.ImagenologiaResultadosEstudio AS I_R_E ON I_E.IdEstudio=I_R_E.IdEstudio
WHERE
	I_E.FechaEstudio BETWEEN @FECHA_INICIO AND @FECHA_FINAL AND I_E.VisiblePACS=1
/*ORDER BY 
	I_E.FechaEstudio*/
),
CTE_PACIENTE_IMP AS
(
SELECT IdPaciente AS ID_IMP FROM dbo.PacientesIMP
)
SELECT
	CTE_CORTE_SEMANAL.PARTICION_UID,
	CTE_CORTE_SEMANAL.ID,
	CTE_CORTE_SEMANAL.FECHA_DEL_ESTUDIO,
	CTE_CORTE_SEMANAL.UNIDAD_TRATANTE,
	CTE_CORTE_SEMANAL.APELLIDO_PATERNO,
	CTE_CORTE_SEMANAL.APELLIDO_MATERNO,
	CTE_CORTE_SEMANAL.PRIMER_NOMBRE,
	CTE_CORTE_SEMANAL.SEGUNDO_NOMBRE,
	CTE_CORTE_SEMANAL.NSS,
	CTE_CORTE_SEMANAL.CLAVE_CPIM,
	CTE_CORTE_SEMANAL.AGREGADO_MEDICO,
	CTE_CORTE_SEMANAL.TIPO_DE_ESTUDIO,
	CTE_CORTE_SEMANAL.MODALIDADES,
	CTE_CORTE_SEMANAL.INTERPRETACION
FROM 
	CTE_CORTE_SEMANAL
LEFT JOIN
	CTE_PACIENTE_IMP ON CTE_CORTE_SEMANAL.ID=CTE_PACIENTE_IMP.ID_IMP
WHERE 
	CTE_CORTE_SEMANAL.PARTICION_UID=1 AND CTE_CORTE_SEMANAL.ID NOT IN (SELECT ID_IMP FROM CTE_PACIENTE_IMP)
ORDER BY CTE_CORTE_SEMANAL.FECHA_DEL_ESTUDIO
GO
